# Virtual environment
venv/

# Python cache and bytecode
__pycache__/
*.pyc

# Environment variables
.env
.env.*

# IDE and editor files
.vscode/
.idea/
*.suo
*.user

# Python egg metadata
*.egg-info/

dist/
build/

# Track .env.template despite ignore
!.env.template 